# Docs:
# https://github.com/azure/functions-action

name: Build and deploy dotnet project to Azure Function App - fa-aiba-dev

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PROJECT_PATH: './src/FunctionApp/FunctionApp.csproj'
  PUBLISH_PATH: './publish'
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build
        run: dotnet build ${{ env.PROJECT_PATH }} --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ${{ env.PROJECT_PATH }} \
              --configuration Release \
              --output ${{ env.PUBLISH_PATH }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D569AF192D8E4D0EA9C3563DC9A1A4B2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3B1D098533EA40B0B1C6B3073C5EB33A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9A9CA9F206114937BE53398E198A3B0E }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'fa-aiba-dev'
          slot-name: 'Production'
          package: ${{ env.PUBLISH_PATH }}
